@model Newbie_MVC.Models.UserAccountModel
@{
    ViewBag.Title = "帳號管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<fieldset>
    <p>
        <label>帳號</label>
        <br />
        @Html.TextBoxFor(m => m.UserName, new { @readonly = "readonly" })
    </p>
    <p>
        <label>最近登入時間</label>
        <br />
        @Html.TextBoxFor(m => m.LatestLoginDate, new { @readonly = "readonly" })
    </p>
    <p>
        <label>Name</label>
        <br />
        @Html.TextBoxFor(m => m.Name)
    </p>
    <p>
        <label>Password</label>
        <br />
        @Html.TextBoxFor(m => m.Password)
    </p>
    <p>
        <label>角色</label>
        <br />
        @Html.TextBoxFor(m => m.Role)
    </p>
    <p>
        <label>帳號啟用</label>
        <br />
        @Html.TextBoxFor(m => m.Enable)
    </p>
    <p>
        <input type="button" value="Save" id="SaveData"/>
    </p>
</fieldset>
